<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.trumandu.module.system.user.UserDao">
    <resultMap type="top.trumandu.module.system.user.domain.UserVO" id="UserVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="username" column="username"/>
        <result property="email" column="email"/>
        <result property="description" column="description"/>
        <association property="sysOrgVO" >
            <id property="id" column="org_id"/>
            <result property="orgName" column="org_name"/>
            <result property="orgCode" column="org_code"/>
        </association>
    </resultMap>
    <resultMap type="top.trumandu.module.system.login.domain.LoginUserVO" id="LoginUserVO">
    </resultMap>

    <sql id="baseSql">
        u.id,
        u.username,
        u.password,
        u.name,
        u.email,
        u.description
    </sql>

    <select id="listAllUser" resultMap="UserVO">
        select
        <include refid="baseSql"></include>
        ,
        u.org_id,
        o.org_code,
        o.org_name
        from
        sys_user u
        left join sys_org o on o.id = u.org_id
        where u.del_flag =0
        order by u.create_time desc
    </select>

    <select id="listNoRoleUser" resultMap="UserVO">
        select
        <include refid="baseSql"></include>
        ,
        u.org_id,
        o.org_code,
        o.org_name
        from
        sys_user u
        left join sys_org o on o.id = u.org_id
        where u.del_flag =0
        and u.id not in (select ur.user_id from  sys_user_role ur)
        order by u.create_time desc
    </select>

    <select id="selectUserList" resultMap="UserVO">
        select
        <include refid="baseSql"></include>
            ,
            u.org_id,
            o.org_code,
            o.org_name
        from
        sys_user u
        left join sys_org o on o.id = u.org_id
        where u.del_flag =0
        <if test="queryDTO.name != null and queryDTO.name != ''">
            <bind name="name" value=" '%' + queryDTO.name +'%' "></bind>
            AND u.name like #{name}
        </if>
        <if test="queryDTO.username != null and queryDTO.username != ''">
            <bind name="username" value=" '%' + queryDTO.username +'%' "></bind>
            AND u.username like #{username}
        </if>
        <if test="queryDTO.email != null and queryDTO.email != ''">
            <bind name="email" value=" '%' + queryDTO.email +'%' "></bind>
            AND u.email like #{email}
        </if>
        order by u.create_time desc
    </select>

    <update id="disableUserById" >
        update
        sys_user
        set del_flag=1
        where id = #{userId}
    </update>

    <select id="login" resultMap="LoginUserVO">
        select
        <include refid="baseSql"></include>
        from
        sys_user u
        where u.del_flag =0
        and u.username=#{username} and u.password=#{password}


    </select>

    <select id="countByUsername" resultType="Integer">
        select
        count(1)
        from
        sys_user u
        where u.del_flag =0
        and u.username=#{username}
    </select>
</mapper>